{
    "postgres_host": "{{ .Env.POSTGRES_HOSTNAME }}",
    "postgres_port": {{ .Env.POSTGRES_PORT }},
    "postgres_database": "{{ .Env.POSTGRES_DBNAME }}",
    "postgres_username": "{{ .Env.POSTGRES_USER }}",
    "postgres_password": "{{ .Env.POSTGRES_PASSWORD }}",
    "postgres_schema": "{{ .Env.POSTGRES_SCHEMA }}"
}
